<a href="https://colab.research.google.com/github/suphalaksana/data_viz_2022/blob/main/Final_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**สอบปลายภาค Final**

##**รายชื่อสมาชิกในกลุ่ม**

**ชื่อกลุ่ม** : kibbutzes

นางสาวนวลแพร พนาวัฒนวงศ์ รหัสนักศึกษา 623020525-0
นางสาวศุภลักษณา บัวจันทร์ รหัสนักศึกษา 623020540-4
นางสาวอุมาพร คำภิชัย รหัสนักศึกษา 623020547-0

**ที่มาของแหล่งข้อมูล**

https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR0kZ6z2dy5AkdiKZ9_8nNrUUG6Xn4EH0pKfus-lTjiDbf_zn7UwMG0kJyU

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/dataviz_2021_data

/content/drive/MyDrive/dataviz_2021_data

##**นำเข้าข้อมูล**

In [ ]:
data_file_path = os.path.join(path,'alldb.csv') #นำเข้าข้อมูล
data1 = pd.read_csv(data_file_path)

In [ ]:
data_file_path = os.path.join(path,'hospital_list.csv') #นำเข้าข้อมูล
data2 = pd.read_csv(data_file_path)

In [ ]:
data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [ ]:
data2

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

##**Cleaning Data**

### data1 ตาราง alldb.csv

In [ ]:
data3 =  data1[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title']] #เลือกคอลัมม์ที่ต้องการ
data3 #แสดงค่า

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed
...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed

In [ ]:
data3.isnull().sum() #ตรวจดูค่า missing

user            762
RowKey            1
date            554
phone             3
site             99
time            557
urine           253
ov              364
PartitionKey    185
title           444
dtype: int64

In [ ]:
data4 = data3.dropna() #.dropna เพื่อกำจัดค่า missing ออกเนื่องจากข้อมูล Missing มีจำนวนมาก และหากแทนค่าผิดสามารถทำให้ข้อมูลผิดพลาดได้
data4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz,data is not completed

In [ ]:
data4.isnull().any() #ตรวจดูค่า missing

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
dtype: bool

**กำหนดค่า User เป็นตัวเลข 5 หลัก โดยใช้คำสั่ง  if**

In [ ]:
MS1=list() ## กำหนดให้MSเป็นลิสต์ในการเติมค่าloop
for each_row in data4.iterrows(): ## ทำการวนลูปในแถวของ data4
    if len(str(each_row[1]['user']))== 5 : #สร้างเงื่อนไขให้ user มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['user']) <= '99999' : #ถ้า user มีค่า น้อยกว่า 100000
          MS1.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไปใน MS
        elif str(each_row[1]['user']) >= '99999' : #ถ้า user มีค่า มากกว่า 100000
            MS1.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน MS
    else:
        MS1.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน MS

data4[MS1] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed

In [ ]:
data5 =data4[MS1] ##ทำการกำหนดData4 เป็นค่าที่ทำการCleanแล้ว

In [ ]:
data6 = data5[data5['user']!= '6724-']  ##พบค่าผิดปกติ คือ 6724- จากการเช็คข้อมูล User จึงทำการตัดออก

**กำหนดค่า site เป็นตัวเลข 5 หลัก โดยใช้คำสั่ง  if**

In [ ]:
MS2=list() ## กำหนดให้MSเป็นลิสต์ในการเติมค่าloop
for each_row in data6.iterrows(): ## ทำการวนลูปในแถวของ data6
    if len(str(each_row[1]['site']))== 5 : #สร้างเงื่อนไขให้ site มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['site']) <= '99999' : #ถ้า site มีค่า น้อยกว่า 100000
          MS2.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไปใน MS
        elif str(each_row[1]['site']) >= '99999' : #ถ้า site มีค่า มากกว่า 100000
            MS2.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน MS
    else:
        MS2.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน MS

data6[MS2] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed

In [ ]:
data7 =data6[MS2] ##ทำการกำหนดData5 เป็นค่าที่ทำการCleanแล้ว

In [ ]:
data8 = data7[data7['site']!= '043.1']  ##พบค่าผิดปกติ คือ 043.1 จากการเช็คข้อมูล site จึงทำการตัดออก

**กำหนดค่า PartitionKey เป็นตัวเลข 5 หลัก โดยใช้คำสั่ง  if**

In [ ]:
MS3=list() ## กำหนดให้MSเป็นลิสต์ในการเติมค่าloop
for each_row in data8.iterrows(): ## ทำการวนลูปในแถวของ data8
    if len(str(each_row[1]['PartitionKey']))== 5 : #สร้างเงื่อนไขให้ PartitionKey มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['PartitionKey']) <= '99999' : #ถ้า PartitionKey มีค่า น้อยกว่า 100000
          MS3.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไปใน MS
        elif str(each_row[1]['PartitionKey']) >= '99999' : #ถ้า PartitionKey มีค่า มากกว่า 100000
            MS3.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน MS
    else:
        MS3.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน MS

data8[MS3] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย

In [ ]:
data9 = data8[MS3]

In [ ]:
data10 = data9[data9['site']!= '002.5']  ##พบค่าผิดปกติ คือ 002.5 จากการเช็คข้อมูล PartitionKey จึงทำการตัดออก

In [ ]:
data10

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย

**ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)**

In [ ]:
set(data10['ov'])

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [ ]:
data11 = data10[data10['ov']!= 'ติดเชื้อ +2 '] #ทำการลบค่าแปลกออก

**ข้อมูล Title นำมากำหนดเพศเพื่อนำมาใช้ประโยชน์เพิ่มเติม**

In [ ]:
data11 = data11.rename(columns={'title':'sex'})

In [ ]:
set (data11['sex']) ##ดูข้อมูลเพื่อนำมาแก้ไข

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [ ]:
data11['sex'].replace ({'  นาง':'หญิง',
 ' นาง':'หญิง',
 ' นางสาว':'หญิง',
 ' นาย':'ชาย',
 'Mrs':'หญิง',
 'ชาย':'ชาย',
 'ด.ช.':'ชาย',
 'ด.ญ.':'หญิง',
 'ด.ต.':'ไม่ระบุ',
 'น':'ไม่ระบุ',
 'น.ส':'หญิง',
 'น.ส ':'หญิง',
 'น.ส.':'หญิง',
 'นส':'หญิง',
 'นส.':'หญิง',
 'นส. ':'หญิง',
 'นาง':'หญิง',
 'นาง ':'หญิง',
 'นาง.':'หญิง',
 'นางl':'หญิง',
 'นางสาว':'หญิง',
 'นางสาว ':'หญิง',
 'นางสาว                   ':'หญิง',
 'นาน':'ชาย',
 'นาบ':'ชาย',
 'นาย':'ชาย',
 'นาย ':'ชาย',
 'นาย  ':'ชาย',
 'นาว':'หญิง',
 'นาวสาว':'หญิง',
 'นา่ง':'หญิง',
 'น่าย':'ชาย',
 'พจอ.':'ชาย',
 'พระ':'ชาย',
 'พระครุ':'ชาย',
 'พระปลัด':'ชาย',
 'พลฯ':'ไม่ระบุ',
 'ร.ต.':'ไม่ระบุ',
 'ร.ต.ต.':'ไม่ระบุ',
 'ร.ต.ท.':'ไม่ระบุ',
 'ร.ต.อ.':'ไม่ระบุ',
 'ว่าที่ ร.ต.':'ไม่ระบุ',
 'ว่าที่ ร.ท.':'ไม่ระบุ',
 'ว่าที่ร้อยตรี':'ไม่ระบุ',
 'ส.อ.':'ไม่ระบุ',
 'ืนาง':'หญิง',
 'เด็กชาย':'ชาย',
 'เด็กหญิง':'หญิง'},inplace=True)
##เปลี่ยนค่าเป็นเพศ หญิง ชาย และไม่ระบุ

In [ ]:
set (data11['sex'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [ ]:
data11

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,หญิง
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,หญิง
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,ชาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,หญิง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,หญิง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,ชาย

**กำหนด date เป็น YYYY-MM-DD**

In [ ]:
data11['date'] = pd.to_datetime(data11['date'],format="%Y-%m-%d") 
data11

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,หญิง
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,หญิง
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,ชาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,หญิง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,หญิง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,ชาย

**กำหนด time เป็น hh-mm-ss**

In [ ]:
data11['time'] = pd.to_datetime(data11['time'],format='%H:%M%:%S',errors='ignore')
data11

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,หญิง
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,หญิง
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,ชาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,หญิง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,หญิง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,ชาย

In [ ]:
print(data11.dtypes)
print('*'*100)
data11.isnull().any()

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                      object
PartitionKey            object
sex                     object
dtype: object
****************************************************************************************************

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
sex             False
dtype: bool

In [ ]:
print(f'เสียข้อมูลไป {40035-37493} แถว')
print(f'คิดเป็น {((40035-37493)*100)/40035} %')

เสียข้อมูลไป 2542 แถว
คิดเป็น 6.349444236293244 %

### data2 ตาราง hospital_list.xlsx

In [ ]:
data2

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
data12 =  data2[['hcode','name','zone_name','province','amphur','tambon','name5']] #เลือกคอลัมม์ที่ต้องการ
data12 #แสดงค่า

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [ ]:
data12.isnull().sum()

hcode          0
name           1
zone_name      4
province       0
amphur         2
tambon       209
name5          3
dtype: int64

**แก้ Missing ตำบลเป็นไม่ระบุ**

In [ ]:
data12[data12['tambon'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
22,00023,สำนักงานสาธารณสุขจังหวัดยโสธร,สาขาพื้นที่(อุบลราชธานี),ยโสธร,เมืองยโสธร,NaN,สำนักงานสาธารณสุขจังหวัด
55,00056,สำนักงานสาธารณสุขจังหวัดสุพรรณบุรี,สาขาพื้นที่(ราชบุรี),สุพรรณบุรี,เมืองสุพรรณบุรี,NaN,สำนักงานสาธารณสุขจังหวัด
95,00096,สำนักงานสาธารณสุขอำเภอท่าเรือ,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,ท่าเรือ,NaN,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ
281,00282,สำนักงานสาธารณสุขอำเภอศีขรภูมิ,สาขาพื้นที่(นครราชสีมา),สุรินทร์,ศีขรภูมิ,NaN,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ
286,00287,สำนักงานสาธารณสุขอำเภอพนมดงรัก,สาขาพื้นที่(นครราชสีมา),สุรินทร์,พนมดงรัก,NaN,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ
...,...,...,...,...,...,...,...
15533,26358,บุญส่งผดุงครรภ์,สาขาพื้นที่(สุราษฎร์ธานี),ชุมพร,ทุ่งตะโก,NaN,คลินิกเอกชน
16225,28011,คลินิกเวชกรรมวีรยุทธการแพทย์,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,NaN,คลินิกเอกชน
16538,28418,สายัณห์ผดุงครรภ์,สาขาพื้นที่(สุราษฎร์ธานี),นครศรีธรรมราช,ร่อนพิบูลย์,NaN,คลินิกเอกชน
16540,28427,คลินิกเด็กหมอประภัสสร,สาขาพื้นที่(สุราษฎร์ธานี),นครศรีธรรมราช,สิชล,NaN,คลินิกเอกชน
16801,40886,สำนักงานป้องกันควบคุมโรคที่ 8 จังหวัดอุดรธานี\...,08,อุดรธานี,เมืองอุดรธานี,NaN,ศูนย์บริการสาธารณสุข

In [ ]:
data12['tambon'] = data12['tambon'].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data12.isnull().sum()

hcode        0
name         0
zone_name    4
province     0
amphur       2
tambon       0
name5        3
dtype: int64

**แก้ค่า Name**

In [ ]:
data12[data12['name'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
15453,26276,NaN,สาขาพื้นที่(สุราษฎร์ธานี),ชุมพร,เมืองชุมพร,ไม่ระบุ,คลินิกเอกชน

In [ ]:
data12['name'] = data12['name'].fillna('คลินิกแห่งหนึ่ง')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data12.isnull().sum()

hcode        0
name         0
zone_name    4
province     0
amphur       2
tambon       0
name5        3
dtype: int64

**แก้ค่า Zone_name**

In [ ]:
data12[data12['zone_name'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
16800,40864,โรงพยาบาลสรรพสิทธิ์อินเตอร์,NaN,อุบลราชธานี,เมืองอุบลราชธานี,ในเมือง,โรงพยาบาลเอกชน
16803,41092,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองจานพัฒนา,NaN,นครราชสีมา,หนองบุญมาก,หนองบุนนาก,โรงพยาบาลส่งเสริมสุขภาพตำบล
16805,77609,หน่วยบริการปฐมภูมิหัวทุ่ง,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,หน่วยบริการปฐมภูมิ
16810,77651,โรงพยาบาลโคกโพธิ์ไชย,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านโคก,โรงพยาบาลทั่วไป

In [ ]:
data12['zone_name'][16800] = 'สาขาพื้นที่(อุบลราชธานี)'    
data12['zone_name'][16803] = 'สาขาพื้นที่(นครราชสีมา)'
data12['zone_name'][16805] = 'สาขาพื้นที่(ขอนแก่น)'
data12['zone_name'][16810] = 'สาขาพื้นที่(ขอนแก่น)'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
data12.isnull().sum()

hcode        0
name         0
zone_name    0
province     0
amphur       2
tambon       0
name5        3
dtype: int64

**แก้ค่า amphur**

In [ ]:
data12[data12['amphur'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
15064,25733,สารีคลินิกการแพทย์,สาขาพื้นที่กรุงเทพมหานคร,กรุงเทพมหานคร,NaN,ไม่ระบุ,คลินิกเอกชน
15180,25852,คลินิกแพทย์สุเชต,สาขาพื้นที่(สุราษฎร์ธานี),ภูเก็ต,NaN,ไม่ระบุ,คลินิกเอกชน

In [ ]:
data12['amphur'] = data12['amphur'].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data12.isnull().sum()

hcode        0
name         0
zone_name    0
province     0
amphur       0
tambon       0
name5        3
dtype: int64

**แก้ค่า Name5**

In [ ]:
data12[data12['name5'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
16474,28268,คลินิกนายแพทย์สันติ,สาขาพื้นที่(สระบุรี),ลพบุรี,เมืองลพบุรี,ทะเลชุบศร,NaN
16484,28278,คลินิกหมอปาน,สาขาพื้นที่(สระบุรี),ลพบุรี,เมืองลพบุรี,กกโก,NaN
16486,28280,คลินิกหมอวิภาวดี,สาขาพื้นที่(สระบุรี),ลพบุรี,เมืองลพบุรี,กกโก,NaN

In [ ]:
data12['name5'][16474] = 'คลินิกเอกชน'    
data12['name5'][16484] = 'คลินิกเอกชน' 
data12['name5'][16486] = 'คลินิกเอกชน'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data12.isnull().sum()

hcode        0
name         0
zone_name    0
province     0
amphur       0
tambon       0
name5        0
dtype: int64

#**รวมตาราง**

In [ ]:
data = data11.merge(data12,how='left',left_on='site',right_on='hcode')     # เชื่อมตาราง
data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,hcode,name,zone_name,province,amphur,tambon,name5
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,หญิง,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,หญิง,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,หญิง,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,ชาย,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,หญิง,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37488,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,หญิง,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37489,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,ชาย,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37490,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,หญิง,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37491,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,หญิง,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37492,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,ชาย,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน

In [ ]:
data.isnull().sum()

user            0
RowKey          0
date            0
phone           0
site            0
time            0
urine           0
ov              0
PartitionKey    0
sex             0
hcode           0
name            0
zone_name       0
province        0
amphur          0
tambon          0
name5           0
dtype: int64

In [ ]:
print(f'เสียข้อมูลไป {40035-37493} แถว')
print(f'คิดเป็น {((40035-37493)*100)/40035} %')

เสียข้อมูลไป 2542 แถว
คิดเป็น 6.349444236293244 %

In [ ]:
data.to_csv('Finalexam.csv', encoding='utf-8')