<a href="https://colab.research.google.com/github/suphalaksana/data_viz_2022/blob/main/Final_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Final

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/.../1D...
 )
โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


*   user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
*   RowKey เป็น String


*   date เป็น YYYY-MM-DD

*   phone เป็น String

*   site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
*   time เป็น hh-mm-ss


*   urine มีค่า String


*   ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)


*   PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือจำนวนการตรวจในแต่ละพื้นที่ 

(จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)

ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)
ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# Import Data

In [1]:
import pandas as pd  # เรียกใช้คำว่า pd แทน pandas ได้
import os

In [2]:
from google.colab import drive  # pandas ใช้จัดการไฟล์ต่าง ๆ ที่เป็นตาราง เช่น excel .csv
drive.mount('/content/drive') # ถ้าไฟล์ใน gg drive ไม่หาย ก็จะยังสามารถรันข้อมูลได้
path = '/content/drive/My Drive/dataviz_2021_data'

Mounted at /content/drive

In [3]:
data_alldb = pd.read_csv(os.path.join(path,'alldb.csv'))

In [4]:
data_hospital = pd.read_csv(os.path.join(path,'hospital_list.csv'))

## ข้อมูล alldb

In [5]:
data_alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,4857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",5310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3.4501E+12,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",5087,9:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3.4501E+12,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",5087,9:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",1234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",1234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",1234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,1234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,1234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## เลือกมาเฉพาะ column ที่ต้องการใช้

In [10]:
 data_alldb2 = data_alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
data_alldb2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",5310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.4501E+12,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",5087,9:59:47,ปกติ (เหลืองใส),0,NaN
4,3.4501E+12,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",5087,9:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",1234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",1234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",1234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,1234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,1234,NaN,ปกติ (เหลืองใส),1,เสรี

## ตรวจสอบค่า Missing

In [15]:
data_alldb2.isnull().any()  #ดูว่ามีค่า missing มั้ย

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

จากการตรวจสอบค่า missing พบค่า missing ทุก column

In [12]:
data_alldb_drop = data_alldb2.dropna()
data_alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,9:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,0:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,8:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,8:41:04,มีตะกอน,2,zzz

In [13]:
print(data_alldb2.shape)  
print(data_alldb2.dropna().shape)   #ลบค่าmissing เหลือข้อมูล 38663 แถว  9 คอลัมน์

(40035, 9)
(38663, 9)

## เปลี่ยน format ของ date

In [19]:
 data_alldb_drop['date'] = pd.to_datetime(data_alldb_drop['date'],format="%Y/%m/%d")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
 data_alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,9:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,0:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,8:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,8:41:04,มีตะกอน,2,zzz

## เปลี่ยน format ของ time

In [22]:
 data_alldb_drop['time'] = pd.to_datetime(data_alldb_drop['time'],format="%H:%M:%S")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
data_alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,1900-01-01 13:08:39,มีตะกอน,0,0
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,1900-01-01 09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,1900-01-01 10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,1900-01-01 14:22:22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),0,0
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,1900-01-01 14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,1900-01-01 14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,1900-01-01 00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,1900-01-01 08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,1900-01-01 08:41:04,มีตะกอน,2,zzz

## ข้อมูล hospital

In [7]:
data_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [9]:
data_alldb_drop = data_alldb.dropna
data_alldb_drop

<bound method DataFrame.dropna of        Unnamed: 0        user                                    RowKey care  \
0               0        test                                       NaN  NaN
1               1        4857      136FD222-FD9F-4E54-AE1F-7282A276B085  NaN
2               2         NaN  1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png  NaN
3               3  3.4501E+12      2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE  NaN
4               4  3.4501E+12      45197AF7-7CB4-470C-9ABB-37C092BD6B21  NaN
...           ...         ...                                       ...  ...
40030       40030         NaN      6B5FA20F-190E-4021-8547-C12308024C6C  NaN
40031       40031         NaN      F48C51C0-A345-40D6-93F4-46213267E1B1  NaN
40032       40032         NaN      A986BDAA-6D7C-4017-8E62-A3C104E946B9  NaN
40033       40033         NaN                            bbuogxulur.png  NaN
40034       40034         NaN                            zttpqogiso.png  NaN

             date   ov             phone  site      time            urine  \
0             NaN  NaN               NaN   NaN       NaN              NaN
1      2022-02-24  NaN        iPhone10,4  5310  10:50:32              NaN
2             NaN  NaN               NaN   NaN       NaN              NaN
3      2022-02-23    0        iPhone13,4  5087   9:59:47  ปกติ (เหลืองใส)
4      2022-02-23  NaN        iPhone13,4  5087   9:44:06  ปกติ (เหลืองใส)
...           ...  ...               ...   ...       ...              ...
40030         NaN  NaN        iPhone13,4  1234       NaN              NaN
40031         NaN    2        iPhone10,5  1234       NaN  ปกติ (เหลืองใส)
40032         NaN    1        iPhone13,4  1234       NaN  ปกติ (เหลืองใส)
40033         NaN  NaN  Samsung SM-A115F  1234       NaN              NaN
40034         NaN    1  Samsung SM-A115F  1234       NaN  ปกติ (เหลืองใส)

       pid            PartitionKey                  title  \
0      NaN                     NaN  data is not completed
1      NaN                     NaN  data is not completed
2      NaN                     NaN  data is not completed
3      NaN                     NaN  data is not completed
4      NaN                     NaN  data is not completed
...    ...                     ...                    ...
40030    5     เกษศิรินทร์  ไชยลาภ  data is not completed
40031    5  เถลิงเกียรติ เสริฐเลิศ  data is not completed
40032    1                    เสรี  data is not completed
40033    1                    เสรี  data is not completed
40034    1                    เสรี  data is not completed

                         age
0      data is not completed
1      data is not completed
2      data is not completed
3      data is not completed
4      data is not completed
...                      ...
40030  data is not completed
40031  data is not completed
40032  data is not completed
40033  data is not completed
40034  data is not completed

[40035 rows x 14 columns]>