<a href="https://colab.research.google.com/github/suphalaksana/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd  #package pandas ใช้ในการจัดการข้อมูลที่เป็นตาราง พวกไฟล์ CSV
import os

In [25]:
from google.colab import drive  #เชื่อมต่อ google drive กับ colab
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [26]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv') 
data_df = pd.read_csv(data_file_path)

In [27]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

ตรวจสอบค่าใน column

In [21]:
import numpy as np

In [22]:
set(data_df['province_of_onset'])   # set ยุบรวมค่าที่ซ้ำกันให้เป็น 1 ค่า

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [28]:
len('สมุทรสงคราม')

11

##ต่อตาราง



* ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน X (เพิ่มรายละเอียดชองข้อมูล)

In [19]:
BKK = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร']
BKK.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [29]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

##ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [30]:
dataBKKKKC = pd.concat([BKK,KKC])  #ในวงเล็บคือ list  
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [ ]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])

##ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [48]:
BKK2 = data_df[data_df['province_of_onset']=='กรุงเทพมหานคร'][['age','nationality','sex']]
BKK2.head()  #คอลัมน์ไม่เท่ากันก็ต่อกันได้ แต่ถ้าอันไหนไม่มีข้อมูลก็จะขึ้นค่าว่างให้

    age nationality   sex
0  61.0       China  หญิง
1  74.0       China  หญิง
3  68.0       China   ชาย
4  66.0       China  หญิง
5  33.0       China  หญิง

In [43]:
KKC2 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','sex']]  #คอลัมน์ไม่เท่ากันก็ต่อกันได้ แต่ถ้าอันไหนไม่มีข้อมูลก็จะขึ้นค่าว่างให้
KKC2.head()

       age nationality   sex
180   33.0    Thailand   ชาย
462   36.0    Thailand  หญิง
1466  19.0    Thailand   ชาย
1970  70.0    Thailand  หญิง
2637  63.0    Thailand  หญิง

In [34]:
pd.concat([BKK2,KKC2])

        age nationality   sex
0      61.0       China  หญิง
1      74.0       China  หญิง
3      68.0       China   ชาย
4      66.0       China  หญิง
5      33.0       China  หญิง
...     ...         ...   ...
9334   20.0    Thailand   ชาย
10610  17.0    Thailand   ชาย
11517  12.0    Thailand   ชาย
11697  17.0    Thailand  หญิง
11698  37.0    Thailand  หญิง

[2803 rows x 3 columns]

In [42]:
KKC3 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality','risk']]
KKC3.head() #คอลัมน์ไม่เท่ากันก็ต่อกันได้ แต่ถ้าอันไหนไม่มีข้อมูลก็จะขึ้นค่าว่างให้

       age nationality                                           risk
180   33.0    Thailand                                        สนามมวย
462   36.0    Thailand    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand                  สัมผัสผู้เดินทางจากต่างประเทศ

In [41]:
KKC4 = data_df[data_df['province_of_onset']=='ขอนแก่น'][['age','nationality',]]
KKC4.head() #คอลัมน์ไม่เท่ากันก็ต่อกันได้ แต่ถ้าอันไหนไม่มีข้อมูลก็จะขึ้นค่าว่างให้

       age nationality
180   33.0    Thailand
462   36.0    Thailand
1466  19.0    Thailand
1970  70.0    Thailand
2637  63.0    Thailand

In [38]:
pd.concat([BKK2,KKC4])

        age nationality   sex
0      61.0       China  หญิง
1      74.0       China  หญิง
3      68.0       China   ชาย
4      66.0       China  หญิง
5      33.0       China  หญิง
...     ...         ...   ...
9334   20.0    Thailand   NaN
10610  17.0    Thailand   NaN
11517  12.0    Thailand   NaN
11697  17.0    Thailand   NaN
11698  37.0    Thailand   NaN

[2803 rows x 3 columns]

##ต่อแกน X

In [40]:
personal_data = data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [46]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1) # frac คือสลับแถว อาจจะไม่เหมือนกันทุกคน
covid_data.head()

       No.  ...                                         risk
2788  2789  ...                                  สถานบันเทิง
3482  3483  ...                             State Quarantine
7187  7188  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
8845  8846  ...                            Cluster สมุทรสาคร
7223  7224  ...                                          NaN

[5 rows x 5 columns]

##เอาตารางสองอันมาต่อกัน

In [47]:
personalcovid_data = personal_data.merge(covid_data)  #ตารางหลักคือ personal_data
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

##Save Table

In [49]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv'))

In [50]:
personalcovid_data.to_csv('my_processed_data.csv') #มี 2 แบบ

#Groupby

In [51]:
data_df.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [ ]:
data_df.groupby('nationality').min()

##Create