<a href="https://colab.research.google.com/github/suphalaksana/data_viz_2022/blob/main/workpu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

## Import data

In [1]:
import pandas as pd  # เรียกใช้คำว่า pd แทน pandas ได้
import os

In [9]:
from google.colab import drive  # pandas ใช้จัดการไฟล์ต่าง ๆ ที่เป็นตาราง เช่น excel .csv
drive.mount('/content/drive') # ถ้าไฟล์ใน gg drive ไม่หาย ก็จะยังสามารถรันข้อมูลได้
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
path = '/content/drive/My Drive/dataviz_2021_data'
GW = pd.read_csv(os.path.join(path, 'gw.csv'))

In [13]:
GW #เรียกดูข้อมูล

,ลำดับ,ชื่อแหล่งน้ำ,อำเภอ,ตำบล,หมู่บ้าน,หมู่ที่,X,Y,เนื้อที่(ไร่),ประเภทแหล่งน้ำ,...,ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.,ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.,ปริมานน้ำปัจจุบัน (ลบม.),ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.),ปัญหาแหล่งน้ำ,มาตรการ/เครื่องมือในการแก้ไขปัญหา,งบประมาณ บาท\n(ถ้ามี),แหล่งงบประมาณ,ปีงบประมาณ,หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ
0,1,น้ำบาดาล,กระนวน,บ้านฝาง,ฝาง,1,16.778749,103.030578,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบจังหวัด,2564,สนง.ทสจ.ขก
1,13,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,โนนน้ำผึ้ง,2,16.827933,102.792416,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
2,14,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.835559,102.766130,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบจังหวัด,2562,สนง.ทสจ.ขก
3,17,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.848686,102.780517,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
4,18,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.848797,102.779746,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6005,7034,บ่อน้ำบาดาล,หนองนาคำ,กุดธาตุ,สะอาด (6/6),5,16.88293079,102.280064,NaN,บ่อน้ำบาดาล,...,32400,32400,10,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6006,7035,บ่อน้ำบาดาล,ชุมแพ,โนนหัน,หนองม่วง (1/2),7,16.61653699,107.999249,NaN,บ่อน้ำบาดาล,...,65700,65700,15,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6007,7036,บ่อน้ำบาดาล,ชุมแพ,โนนหัน,หนองม่วง (2/2),7,16.61674299,107.999365,NaN,บ่อน้ำบาดาล,...,87600,87600,20,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6008,7037,บ่อน้ำบาดาล,หนองสองห้อง,คึมชาด,โรงเรียนบ้านศุภชัย (บ้านศุภชัย),5,15.80097339,102.832144,NaN,บ่อน้ำบาดาล,...,21900,21900,5,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6009,7038,บ่อน้ำบาดาล,น้ำพอง,บัวเงิน,โครงการทหารพันธุ์ดี กองพลทหารม้าที่ 3 ค่ายเปรม...,5,16.68706566,102.961434,NaN,บ่อน้ำบาดาล,...,21900,21900,5,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น

##เช็คค่าว่าง

In [18]:
GW.isnull()  #False ไม่มีค่าว่าง

,ลำดับ,ชื่อแหล่งน้ำ,อำเภอ,ตำบล,หมู่บ้าน,หมู่ที่,X,Y,เนื้อที่(ไร่),ประเภทแหล่งน้ำ,...,ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.,ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.,ปริมานน้ำปัจจุบัน (ลบม.),ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.),ปัญหาแหล่งน้ำ,มาตรการ/เครื่องมือในการแก้ไขปัญหา,งบประมาณ บาท\n(ถ้ามี),แหล่งงบประมาณ,ปีงบประมาณ,หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ
0,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6005,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,True,True,False,True,False
6006,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,True,True,False,True,False
6007,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,True,True,False,True,False
6008,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,True,True,False,True,False
6009,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,True,True,False,True,False

In [20]:
GW.isnull().any()#any สรุปข้อมูลเป็นราย column  #true คือเป็นค่า ที่ missing

ลำดับ                                         False
ชื่อแหล่งน้ำ                                  False
อำเภอ                                         False
ตำบล                                           True
หมู่บ้าน                                       True
หมู่ที่                                        True
X                                              True
Y                                              True
เนื้อที่(ไร่)                                  True
ประเภทแหล่งน้ำ                                False
พื้นที่รับประโยชน์(ไร่)                        True
พื้นที่รับประโยชน์ที่จะขยายเพิ่ม(ไร่)          True
ปริมาณการกักเก็บน้ำ (ลบม.)                     True
ลักษณะการใช้น้ำ                               False
 ปริมาณการใช้น้ำต่อปี63 (ลบม.)\nม.ค.-ธ.ค.      True
 ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.      True
 ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.      True
ปริมานน้ำปัจจุบัน (ลบม.)                       True
ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.)        True
ปัญหาแหล่งน้ำ                                  True
มาตรการ/เครื่องมือในการแก้ไขปัญหา              True
งบประมาณ บาท\n(ถ้ามี)                          True
แหล่งงบประมาณ                                  True
ปีงบประมาณ                                     True
หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ           False
dtype: bool

#ลบค่า missing เฉพาะใน column ที่เราสนใจ

In [24]:
GW_nomissing = GW.dropna(subset=['X'])  #missing ลบเฉพาะที่ไม่มี X

In [25]:
GW_nomissing

,ลำดับ,ชื่อแหล่งน้ำ,อำเภอ,ตำบล,หมู่บ้าน,หมู่ที่,X,Y,เนื้อที่(ไร่),ประเภทแหล่งน้ำ,...,ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.,ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.,ปริมานน้ำปัจจุบัน (ลบม.),ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.),ปัญหาแหล่งน้ำ,มาตรการ/เครื่องมือในการแก้ไขปัญหา,งบประมาณ บาท\n(ถ้ามี),แหล่งงบประมาณ,ปีงบประมาณ,หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ
0,1,น้ำบาดาล,กระนวน,บ้านฝาง,ฝาง,1,16.778749,103.030578,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบจังหวัด,2564,สนง.ทสจ.ขก
1,13,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,โนนน้ำผึ้ง,2,16.827933,102.792416,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
2,14,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.835559,102.766130,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบจังหวัด,2562,สนง.ทสจ.ขก
3,17,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.848686,102.780517,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
4,18,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.848797,102.779746,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6005,7034,บ่อน้ำบาดาล,หนองนาคำ,กุดธาตุ,สะอาด (6/6),5,16.88293079,102.280064,NaN,บ่อน้ำบาดาล,...,32400,32400,10,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6006,7035,บ่อน้ำบาดาล,ชุมแพ,โนนหัน,หนองม่วง (1/2),7,16.61653699,107.999249,NaN,บ่อน้ำบาดาล,...,65700,65700,15,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6007,7036,บ่อน้ำบาดาล,ชุมแพ,โนนหัน,หนองม่วง (2/2),7,16.61674299,107.999365,NaN,บ่อน้ำบาดาล,...,87600,87600,20,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6008,7037,บ่อน้ำบาดาล,หนองสองห้อง,คึมชาด,โรงเรียนบ้านศุภชัย (บ้านศุภชัย),5,15.80097339,102.832144,NaN,บ่อน้ำบาดาล,...,21900,21900,5,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6009,7038,บ่อน้ำบาดาล,น้ำพอง,บัวเงิน,โครงการทหารพันธุ์ดี กองพลทหารม้าที่ 3 ค่ายเปรม...,5,16.68706566,102.961434,NaN,บ่อน้ำบาดาล,...,21900,21900,5,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น

In [26]:
GW_nomissing.isnull().any() #any สรุปข้อมูลเป็นราย column  #true คือเป็นค่า ที่ missing

ลำดับ                                         False
ชื่อแหล่งน้ำ                                  False
อำเภอ                                         False
ตำบล                                           True
หมู่บ้าน                                       True
หมู่ที่                                        True
X                                             False
Y                                              True
เนื้อที่(ไร่)                                  True
ประเภทแหล่งน้ำ                                False
พื้นที่รับประโยชน์(ไร่)                        True
พื้นที่รับประโยชน์ที่จะขยายเพิ่ม(ไร่)          True
ปริมาณการกักเก็บน้ำ (ลบม.)                     True
ลักษณะการใช้น้ำ                               False
 ปริมาณการใช้น้ำต่อปี63 (ลบม.)\nม.ค.-ธ.ค.      True
 ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.      True
 ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.      True
ปริมานน้ำปัจจุบัน (ลบม.)                       True
ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.)        True
ปัญหาแหล่งน้ำ                                  True
มาตรการ/เครื่องมือในการแก้ไขปัญหา              True
งบประมาณ บาท\n(ถ้ามี)                          True
แหล่งงบประมาณ                                  True
ปีงบประมาณ                                     True
หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ           False
dtype: bool

In [29]:
GW_nomissing2 = GW_nomissing.dropna(subset=['Y'])  #missing ลบเฉพาะที่ไม่มี X

In [30]:
GW_nomissing2

,ลำดับ,ชื่อแหล่งน้ำ,อำเภอ,ตำบล,หมู่บ้าน,หมู่ที่,X,Y,เนื้อที่(ไร่),ประเภทแหล่งน้ำ,...,ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.,ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.,ปริมานน้ำปัจจุบัน (ลบม.),ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.),ปัญหาแหล่งน้ำ,มาตรการ/เครื่องมือในการแก้ไขปัญหา,งบประมาณ บาท\n(ถ้ามี),แหล่งงบประมาณ,ปีงบประมาณ,หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ
0,1,น้ำบาดาล,กระนวน,บ้านฝาง,ฝาง,1,16.778749,103.030578,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบจังหวัด,2564,สนง.ทสจ.ขก
1,13,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,โนนน้ำผึ้ง,2,16.827933,102.792416,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
2,14,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.835559,102.766130,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบจังหวัด,2562,สนง.ทสจ.ขก
3,17,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.848686,102.780517,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
4,18,น้ำบาดาล,เขาสวนกวาง,ดงเมืองแอม,ดงบัง,4,16.848797,102.779746,NaN,น้ำบาดาล,...,"7,300","7,300",7300,7300,NaN,NaN,"288,000",งบกลางฯ รองนายก,2563,สนง.ทสจ.ขก
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6005,7034,บ่อน้ำบาดาล,หนองนาคำ,กุดธาตุ,สะอาด (6/6),5,16.88293079,102.280064,NaN,บ่อน้ำบาดาล,...,32400,32400,10,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6006,7035,บ่อน้ำบาดาล,ชุมแพ,โนนหัน,หนองม่วง (1/2),7,16.61653699,107.999249,NaN,บ่อน้ำบาดาล,...,65700,65700,15,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6007,7036,บ่อน้ำบาดาล,ชุมแพ,โนนหัน,หนองม่วง (2/2),7,16.61674299,107.999365,NaN,บ่อน้ำบาดาล,...,87600,87600,20,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6008,7037,บ่อน้ำบาดาล,หนองสองห้อง,คึมชาด,โรงเรียนบ้านศุภชัย (บ้านศุภชัย),5,15.80097339,102.832144,NaN,บ่อน้ำบาดาล,...,21900,21900,5,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น
6009,7038,บ่อน้ำบาดาล,น้ำพอง,บัวเงิน,โครงการทหารพันธุ์ดี กองพลทหารม้าที่ 3 ค่ายเปรม...,5,16.68706566,102.961434,NaN,บ่อน้ำบาดาล,...,21900,21900,5,NaN,NaN,NaN,NaN,งบลงทุน 2566,NaN,สำนักทรัพยากรน้ำบาดาลเขต 4 ขอนแก่น

In [31]:
GW_nomissing2.isnull().any() #any สรุปข้อมูลเป็นราย column  #true คือเป็นค่า ที่ missing

ลำดับ                                         False
ชื่อแหล่งน้ำ                                  False
อำเภอ                                         False
ตำบล                                           True
หมู่บ้าน                                       True
หมู่ที่                                        True
X                                             False
Y                                             False
เนื้อที่(ไร่)                                  True
ประเภทแหล่งน้ำ                                False
พื้นที่รับประโยชน์(ไร่)                        True
พื้นที่รับประโยชน์ที่จะขยายเพิ่ม(ไร่)          True
ปริมาณการกักเก็บน้ำ (ลบม.)                     True
ลักษณะการใช้น้ำ                               False
 ปริมาณการใช้น้ำต่อปี63 (ลบม.)\nม.ค.-ธ.ค.      True
 ปริมาณการใช้น้ำต่อปี64 (ลบม.)\nม.ค.-ธ.ค.      True
 ปริมาณการใช้น้ำต่อปี65 (ลบม.)\nม.ค.-ธ.ค.      True
ปริมานน้ำปัจจุบัน (ลบม.)                       True
ปริมาณน้ำคาดการสิ้นเดือนมีนาคม66 (ลบม.)        True
ปัญหาแหล่งน้ำ                                  True
มาตรการ/เครื่องมือในการแก้ไขปัญหา              True
งบประมาณ บาท\n(ถ้ามี)                          True
แหล่งงบประมาณ                                  True
ปีงบประมาณ                                     True
หน่วยงานที่รับผิดชอบ/หน่วยดำเนินการ           False
dtype: bool

In [34]:
GW_nomissing2['X']  #ชี้คอลัมน์

0         16.778749
1         16.827933
2         16.835559
3         16.848686
4         16.848797
           ...
6005    16.88293079
6006    16.61653699
6007    16.61674299
6008    15.80097339
6009    16.68706566
Name: X, Length: 5506, dtype: object

In [35]:
GW_nomissing2['Y']  #ชี้คอลัมน์

0       103.030578
1       102.792416
2       102.766130
3       102.780517
4       102.779746
           ...
6005    102.280064
6006    107.999249
6007    107.999365
6008    102.832144
6009    102.961434
Name: Y, Length: 5506, dtype: float64

In [37]:
GW_nomissing2.to_csv(os.path.join(path,'GW_nomissing2.csv'))